In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("C:\\New folder\\Space_Missions_Cleaned.csv")

In [38]:
df.isnull().sum()# To find how many values are missing

Company Name         0
Location             0
Datum                0
Detail               0
Status Rocket        0
Rocket            3360
Status Mission       0
Country              0
DateTime             0
Year                 0
Launch_Site          0
Count                0
Month                0
dtype: int64

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    4324 non-null   object
 1   Location        4324 non-null   object
 2   Datum           4324 non-null   object
 3   Detail          4324 non-null   object
 4   Status Rocket   4324 non-null   object
 5   Rocket          964 non-null    float64
 6   Status Mission  4324 non-null   object
 7   Country         4324 non-null   object
 8   DateTime        4324 non-null   object
 9   Year            4324 non-null   int64
 10  Launch_Site     4324 non-null   object
 11  Count           4324 non-null   int64
 12  Month           4324 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 439.3+ KB

In [41]:
#df=df.rename(columns={' Rocket':'Rocket'})
#df['Rocket'] = df['Rocket'].str.replace(',','')
#df['Rocket'] = pd.to_numeric(df['Rocket'])
df['Rocket'] = df['Rocket'].fillna(df['Rocket'].mean())

In [33]:
df.isnull().sum()

Unnamed: 0.1      0
Unnamed: 0        0
Company Name      0
Location          0
Datum             0
Detail            0
Status Rocket     0
Rocket            0
Status Mission    0
dtype: int64

In [42]:
df.head()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Country,DateTime,Year,Launch_Site,Count,Month
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.000000,Success,USA,2020-08-07 05:12:00+00:00,2020,"LC-39A, Kennedy Space Center, Florida",1,Aug
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.750000,Success,China,2020-08-06 04:01:00+00:00,2020,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",1,Aug
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,153.792199,Success,USA,2020-08-04 23:57:00+00:00,2020,"Pad A, Boca Chica, Texas",1,Aug
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.000000,Success,Kazakhstan,2020-07-30 21:25:00+00:00,2020,"Site 200/39, Baikonur Cosmodrome",1,Jul
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.000000,Success,USA,2020-07-30 11:50:00+00:00,2020,"SLC-41, Cape Canaveral AFS, Florida",1,Jul

In [43]:
df=df.drop(['Location','Datum','Detail','DateTime','Launch_Site','Month','Count'],axis=1)
# Dropping unnecessary columns
# axis=1 means we are dropping columns

In [44]:
df['Status Mission'].value_counts()# Counts of unique values

Success              3879
Failure               339
Partial Failure       102
Prelaunch Failure       4
Name: Status Mission, dtype: int64

In [45]:
df['Status Mission'] =df['Status Mission'].apply(lambda x: x if x == 'Success' else 'Failure')
# converting four unique values namely Success, Failure, Partial Failure and Prelaunch Failure 
# into just two values namely Success and Failure
df['Status Mission'].value_counts()

Success    3879
Failure     445
Name: Status Mission, dtype: int64

In [46]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()# creating an object of labelEncoder class
df['Status Mission'] = encoder.fit_transform(df['Status Mission'])# fit_transform() method scales all the data
                                                                  # and convertes it into 0 and 1.

In [47]:
df[:10]

  Company Name Status Rocket      Rocket  Status Mission     Country  Year
0       SpaceX  StatusActive   50.000000               1         USA  2020
1         CASC  StatusActive   29.750000               1       China  2020
2       SpaceX  StatusActive  153.792199               1         USA  2020
3    Roscosmos  StatusActive   65.000000               1  Kazakhstan  2020
4          ULA  StatusActive  145.000000               1         USA  2020
5         CASC  StatusActive   64.680000               1       China  2020
6    Roscosmos  StatusActive   48.500000               1  Kazakhstan  2020
7         CASC  StatusActive  153.792199               1       China  2020
8       SpaceX  StatusActive   50.000000               1         USA  2020
9         JAXA  StatusActive   90.000000               1       Japan  2020

In [48]:
df['Status Mission'].value_counts()

1    3879
0     445
Name: Status Mission, dtype: int64

In [49]:
encoder = LabelEncoder()
df['Status Rocket']=encoder.fit_transform(df['Status Rocket'])

In [50]:
df.head()

  Company Name  Status Rocket      Rocket  Status Mission     Country  Year
0       SpaceX              0   50.000000               1         USA  2020
1         CASC              0   29.750000               1       China  2020
2       SpaceX              0  153.792199               1         USA  2020
3    Roscosmos              0   65.000000               1  Kazakhstan  2020
4          ULA              0  145.000000               1         USA  2020

In [51]:
df['Status Rocket'].value_counts()

1    3534
0     790
Name: Status Rocket, dtype: int64

In [52]:
df=df.drop(['Country'],axis=1)

In [53]:
df.head()

  Company Name  Status Rocket      Rocket  Status Mission  Year
0       SpaceX              0   50.000000               1  2020
1         CASC              0   29.750000               1  2020
2       SpaceX              0  153.792199               1  2020
3    Roscosmos              0   65.000000               1  2020
4          ULA              0  145.000000               1  2020

In [54]:
# ONE HOT ENCODING THE COUNTRY COLUMN

In [55]:
def onehot_encode(data, column):
    dummies = pd.get_dummies(data[column])
    data = pd.concat([data, dummies], axis=1)
    data.drop(column, axis=1, inplace=True)
    return data

In [62]:
df=onehot_encode(df,'Company Name')

In [63]:
df.head()

,Status Rocket,Rocket,Status Mission,Year,AEB,AMBA,ASI,Arianespace,Arm??e de l'Air,Blue Origin,...,SpaceX,Starsem,ULA,US Air Force,US Navy,UT,VKS RF,Virgin Orbit,Yuzhmash,i-Space
0,0,50.000000,1,2020,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,29.750000,1,2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,153.792199,1,2020,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,65.000000,1,2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,145.000000,1,2020,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [64]:
X=df.drop('Status Mission',axis=1)
y=df['Status Mission']

In [65]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Status Mission, dtype: int32

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7,random_state=101)

In [67]:
X_train.head()

,Status Rocket,Rocket,Year,AEB,AMBA,ASI,Arianespace,Arm??e de l'Air,Blue Origin,Boeing,...,SpaceX,Starsem,ULA,US Air Force,US Navy,UT,VKS RF,Virgin Orbit,Yuzhmash,i-Space
3677,1,59.000000,1968,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1683,1,153.792199,1992,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1193,1,153.792199,2000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2266,1,153.792199,1983,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2968,1,153.792199,1975,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_X_train=scaler.fit_transform(X_train)
scaled_X_test=scaler.transform(X_test)

In [69]:
scaled_X_train

array([[ 0.47026172, -0.62229982, -1.07893777, ..., -0.01818182,
        -0.02571722, -0.01818182],
       [ 0.47026172, -0.01259235,  0.25227945, ..., -0.01818182,
        -0.02571722, -0.01818182],
       [ 0.47026172, -0.01259235,  0.69601852, ..., -0.01818182,
        -0.02571722, -0.01818182],
       ...,
       [-2.12647544,  0.28461819,  1.41709452, ..., -0.01818182,
        -0.02571722, -0.01818182],
       [ 0.47026172, -0.01259235,  0.52961637, ..., -0.01818182,
        -0.02571722, -0.01818182],
       [ 0.47026172, -0.01259235,  0.36321422, ..., -0.01818182,
        -0.02571722, -0.01818182]])

In [70]:
from sklearn.linear_model import LogisticRegressionCV
log_model=LogisticRegressionCV()
log_model.fit(scaled_X_train,y_train)

LogisticRegressionCV()

In [71]:
y_pred=log_model.predict(scaled_X_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [72]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_test,y_pred)

0.9090909090909091

In [73]:
confusion_matrix(y_test,y_pred)

array([[   9,  114],
       [   4, 1171]], dtype=int64)

In [74]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.69      0.07      0.13       123
           1       0.91      1.00      0.95      1175

    accuracy                           0.91      1298
   macro avg       0.80      0.53      0.54      1298
weighted avg       0.89      0.91      0.87      1298

In [75]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=200,max_features='auto',random_state=101)
rfc.fit(scaled_X_train,y_train)

RandomForestClassifier(n_estimators=200, random_state=101)

In [76]:
rfc_pred=rfc.predict(scaled_X_test)

In [77]:
accuracy_score(rfc_pred,y_test)

0.8936825885978429

In [78]:
print(confusion_matrix(y_test,rfc_pred))

[[  21  102]
 [  36 1139]]

In [79]:
print(classification_report(y_test,rfc_pred))

              precision    recall  f1-score   support

           0       0.37      0.17      0.23       123
           1       0.92      0.97      0.94      1175

    accuracy                           0.89      1298
   macro avg       0.64      0.57      0.59      1298
weighted avg       0.87      0.89      0.88      1298